/* NavigationBar */

.arena~.navigation-bar {
    bottom: -2px;
}

/* Arena */

.arena {
    height: 100vh;
    display: grid;
    grid-template-columns: 11% 78% 11%;
    grid-template-rows: 50vh auto;
    grid-template-areas: "headphone-list selected-list live-chat" "headphone-list selected-list live-chat";
}

.arena__horizontal-line {
    height: 50vh;
    width: 100%;
    z-index: -2;
    grid-column: 1 / -1;
    grid-row: 1/ span 1;
    border-bottom: 2px solid black;
}

.arena__nav-bar-line {
    position: fixed;
    width: 3.5rem;
    height: 100%;
    z-index: -5;
    box-sizing: border-box;
    border-right: 3px solid black;
}

/* HeadphoneList */

.headphone-list {
    grid-area: headphone-list;
    height: calc(100vh - 3.5rem);
    padding-left: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: black;
    font-weight: 900;
}

/* Headphone */

.headphone {
    margin: .15rem 0 .2rem 0;
    background-color: white;
    font-size: medium;
}

.headphone:hover {
    padding-right: .3rem;
    text-align: right;
    background-color: #164499;
    color: white;
}

.headphone__brand, .headphone__model {
    cursor: pointer;
}

/* SelectedList */

.selected-list {
    grid-area: selected-list;
    display: grid;
    grid-template-columns: repeat(auto-fit, 22%);
    grid-column-gap: 3%;
    justify-content: center;
    text-align: center;
}

.selected-list__empty {
    grid-area: selected-list;
    align-self: center;
    justify-self: center;
    padding: .05rem 1.5rem;
    font-weight: 900;
    font-size: 1.2rem;
    letter-spacing: .3rem;
    background-color: black;
    color: white;
}

/* SelectedHeadphone */

.selected-headphone {
    position: relative;
    margin-top: 3.5rem;
    border: 2px solid black;
}

.selected-headphone__loading {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
}

.loading-image {
    width: 4rem;
}

.selected-headphone:nth-of-type(4) {
    display: none;
}

.selected-headphone__close-button {
    position: absolute;
    top: calc(-2rem - .4rem);
    left: -2px;
    width: calc(100% + 4px);
    height: 2rem;
    opacity: 0;
    transition: opacity .3s ease-in;
    line-height: 2rem;
    font-size: 1rem;
    font-weight: 900;
    background-color: black;
    color: white;
    cursor: pointer;
}

.selected-headphone:hover .selected-headphone__close-button {
    opacity: 1;
}

.selected-headphone__close-button:hover {
    background-color: #c00603;
}

.selected-headphone__essential {
    height: calc(50vh - 3.5rem - 1.6rem - 1.5px);
    padding: .8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.selected-headphone__thumbnail {
    padding: .4rem 3%;
}

.selected-headphone img {
    width: 95%;
}

.selected-headphone__page {
    display: inline-block;
    width: .45rem;
    height: 1rem;
    margin: 0 .3rem;
    border: 1.2px solid black;
    box-sizing: border-box;
    vertical-align: middle;
    cursor: pointer;
}

.selected-headphone__page:hover {
    background-color: #c00603;
    border: none;
}

.selected-headphone__page.--active-page {
    width: .45rem;
    height: 1.3rem;
    background-color: black;
}

.selected-headphone__rating {
    width: calc(100% - 2rem);
    height: .4rem;
    transform: skew(-25deg);
    border: 1px solid black;
}

.selected-headphone__amazon {
    width: calc(100% - 2rem);
    padding: .1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    font-size: .9rem;
    cursor: pointer;
}

.selected-headphone__amazon i {
    margin-right: .5rem;
}

.selected-headphone__amazon:hover {
    width: 100%;
    margin-top: .4rem;
    animation: bounce 1s .2s 1;
    background-color: #f6cb01;
    border: none;
}

@keyframes bounce {
    0%, 30%, 60%, 90% {
        transform: translateY(0);
    }
    15% {
        transform: translateY(-3.5rem);
    }
    45% {
        transform: translateY(-1.5rem);
    }
    75% {
        transform: translateY(-.5rem);
    }
}

.selected-headphone__name {
    margin: 0;
    padding: .4rem .8rem;
    background-color: black;
    color: white;
}

/* Overview */

.overview {
    padding: .8rem 0 1.2rem 0;
    line-height: 1.3rem;
    font-size: .85rem;
}

.overview__description {
    margin: 0;
    padding: 0 1.2rem;
    text-align: justify;
}

.overview__tags {
    margin-bottom: 1.2rem;
    padding-bottom: .9rem;
    font-size: .75rem;
    font-weight: 700;
    letter-spacing: .01rem;
    color: black;
    border-bottom: 2px solid black;
}

.overview__tag {
    display: inline-block;
    margin: 2px .2rem;
    padding: 0 .4rem;
    border: .5px solid rgba(0, 0, 0, .7);
    box-shadow: 2px 2px black;
}

/* Specification */

.specification {
    padding: 1.2rem .6rem;
    display: grid;
    grid-template-columns: auto auto;
    font-size: .85rem;
    line-height: 1.3rem;
}

.specification div:nth-child(odd) {
    padding-right: .5rem;
    text-align: right;
    font-weight: 700;
}

.specification div:nth-child(even) {
    text-align: left;
}

/* TopPosts */

.top-posts {
    padding: 1.2rem .6rem;
    font-size: .85rem;
    line-height: 1.3rem;
}

.top-posts h4 {
    margin: .2rem 0 1rem 0;
    padding: .15rem 0;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.top-posts__post {
    padding: .4rem .6rem;
    font-size: .8rem;
    cursor: pointer;
}

.top-posts__post:hover {
    transform: scale(.95);
    border: 1px solid black;
    box-shadow: 3px 3px black;
}

.top-posts__title {
    text-align: left;
    font-weight: 700;
}

.top-posts__content {
    text-align: justify;
}

.top-posts__date {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: right;
    font-weight: 300;
    font-size: .65rem;
    line-height: .9rem;
    color: #4d4d4d;
}

/* Normal Laptops */

@media screen and (max-width: 1280px) {
    .arena {
        grid-template-columns: 12% 76% 12%;
    }
    .selected-list {
        grid-template-columns: repeat(auto-fit, 26%);
        grid-column-gap: 3%;
    }
    .arena .live-chat {
        width: 12%;
    }
}

/* Small Laptops */

@media screen and (max-width: 1024px) {
    .arena {
        grid-template-columns: 17% 66% 17%;
    }
    .selected-list {
        grid-template-columns: repeat(auto-fit, 38%);
        grid-column-gap: 6%;
    }
    .selected-headphone:nth-of-type(4) {
        display: block;
    }
    .arena .live-chat {
        width: 17%;
    }
}

/* Tablet */

@media only screen and (max-width: 767px) {
    .arena {
        padding-top: 3.5rem;
        grid-template-columns: 25% 75%;
        grid-template-rows: 100vh auto auto;
        grid-template-areas: "headphone-list selected-list" "headphone-list selected-list" "headphone-list live-chat";
        justify-items: center;
    }
    .arena__horizontal-line {
        height: 55vh;
    }
    .arena__nav-bar-line {
        width: 1.9rem;
    }
    .headphone-list {
        padding-left: .9rem;
    }
    .selected-list {
        grid-template-columns: repeat(auto-fit, 67%);
        grid-column-gap: 0;
    }
    .selected-list__empty {
        margin-top: calc(10vh + 1px);
    }
    .selected-headphone:nth-of-type(4) {
        display: none;
    }
    .selected-headphone__essential {
        height: calc(55vh - 3.5rem - 1.6rem - 1.5px);
    }
    .selected-headphone__close-button {
        opacity: 1;
        height: 1.5rem;
        top: calc(-1.5rem - .4rem);
        line-height: 1.5rem;
        font-size: .9rem;
    }
    .selected-headphone img {
        width: 100%;
        max-height: 200px;
        max-width: 200px;
    }
    .overview {
        font-size: .88rem;
    }
    .arena .live-chat {
        width: 67%;
        grid-area: live-chat;
    }
}

/* Phones */

@media only screen and (max-width: 481px) {
    .arena {
        grid-template-columns: 23% 77%;
    }
    .arena__horizontal-line {
        height: 45vh;
    }
    .arena__nav-bar-line {
        width: 2.4rem;
    }
    .headphone-list {
        padding-left: 3.7rem;
    }
    .selected-list {
        grid-template-columns: repeat(auto-fit, 75%);
    }
    .selected-list__empty {
        margin-top: calc(-10vh + 1px);
        padding: .05rem .5rem;
        text-align: center;
    }
    .selected-headphone__essential {
        height: calc(45vh - 3.5rem - 1.6rem - 1.5px);
    }
    .selected-headphone img {
        width: 85%;
    }
    .arena .live-chat {
        width: 75%;
    }
}