/* NavigationBar */

.dashboard~.navigation-bar {
    bottom: -4px;
}

/* Dashboard */

.dashboard {
    height: 100vh;
    width: calc(100% - 11% - 3px);
    display: grid;
    grid-template-rows: calc(25vh - 2.5rem) 5rem 2rem 4fr 1fr;
    grid-template-columns: 3.5rem calc(50% - 3.5rem - 2.5rem) 5rem 1.5fr 1fr;
    grid-template-areas: ". . . . ." ". stats avatar username username" ". . . . ." ". page-selectors page-selectors page-content ." ". . . . .";
}

.dashboard__stats {
    grid-area: stats;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding: 1rem;
    font-size: .85rem;
}

.dashboard__username {
    margin: 0;
}

.dashboard__date {
    text-transform: uppercase;
}

.dashboard__stats-label {
    display: inline-block;
    margin-right: 1rem;
}

.dashboard__avatar {
    grid-area: avatar;
    height: 5rem;
    width: 5rem;
    box-sizing: border-box;
    border: 1px solid black;
}

.dashboard__title {
    grid-area: username;
    padding: 1rem;
    margin: 0;
    font-size: 2rem;
    line-height: 2rem;
    display: flex;
    align-items: center;
    font-weight: 900;
}

.dashboard__vertical-line {
    grid-area: 1/ 1/ -1 /span 1;
    border-right: 2px solid black;
}

/* PageSelectors */

.dashboard>.page-selectors {
    margin: 1rem 0;
    grid-area: page-selectors;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    padding-right: 1.5rem;
}

.page-selectors__item {
    display: flex;
    align-items: center;
}

.page-selectors__label {
    margin: 0 1.2rem 0 0;
    font-weight: 700;
    font-size: 1.2rem;
    letter-spacing: .04rem;
}

.page-selectors__button {
    font-weight: 900;
    height: 2rem;
    width: 2rem;
    font-size: 1.5rem;
    border: 3px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    cursor: pointer;
}

.page-selectors__button--active {
    background-color: black;
    /* color: #f6cb01; */
    color: white;
}

/* PageContent */

.dashboard>.page-content {
    grid-area: page-content;
    overflow: auto;
    margin: 1rem;
    padding: 1.5rem;
    border: 2px solid black;
}

.page-content__page-title {
    text-transform: uppercase;
    font-size: 1.1rem;
    background-color: black;
    color: white;
    padding: .3rem 0 .3rem .7rem;
    font-weight: 700;
    letter-spacing: .2rem;
    margin-bottom: 1.4rem;
}

.page-content::-webkit-scrollbar {
    width: 8px;
}

.page-content::-webkit-scrollbar-track {
    border-left: 1px solid #737373;
}

.page-content::-webkit-scrollbar-thumb {
    background-color: #3d3d3d;
}

/* PageContent - message */

.page-content__message {
    margin: 0 .7rem 1.7rem .7rem;
}

.send-pm~.page-content__messages>div.page-content__message:nth-of-type(1) {
    margin-top: 1.5rem;
    padding-top: 1.5rem;
}

.page-content__messages>div.page-content__message:nth-last-of-type(1) {
    margin-bottom: 0;
}

.page-content__message-subject {
    margin: 0 0 .4rem 0;
    text-align: justify;
    font-size: .95rem;
}

.page-content__message-content {
    margin: 0 0 .4rem 0;
    font-size: .9rem;
    text-align: justify;
    line-height: 1.15rem;
}

.page-content__message-metadata {
    display: flex;
    align-items: center;
}

.page-content__message-username {
    margin: 0 .8rem 0 0;
    cursor: pointer;
}

.page-content__message-username:hover {
    text-decoration: underline;
    transform-origin: 0% 100%;
    transform: scale(1.1);
}

.page-content__message-reply {
    font-size: .8rem;
    cursor: pointer;
}

.page-content__message-reply:hover {
    transform: scale(1.3);
    font-weight: 900;
}

/* SendPrivateMessage */

.send-pm {
    margin-top: 1.6rem;
    padding: 0 .6rem;
}

.send-pm__subject {
    width: 100%;
    box-sizing: border-box;
    outline: none;
    border: none;
    border-bottom: 1.5px solid black;
    padding: .2rem .1rem;
    font-family: inherit;
}

.send-pm__message {
    padding: .5rem;
    width: 100%;
    box-sizing: border-box;
    outline: none;
    resize: none;
    height: 12rem;
    margin-top: .65rem;
    font-family: inherit;
    border: 1.5px solid black;
}

.send-pm__button-container {
    margin: .3rem 0 .5rem 0;
    display: flex;
}

.send-pm__send-button {
    background-color: black;
    color: white;
    font-size: .9rem;
    padding: 0 .5rem;
    font-weight: 700;
    cursor: pointer;
    width: 100%;
    text-align: center;
}

.send-pm__send-button:hover {
    color: #f6cb01;
}

/* AvatarUpload */

.avatar-upload__label {
    font-size: .9rem;
    font-weight: 700;
    padding-left: .1rem;
}

.avatar-upload__input {
    width: 100%;
    margin-top: .5rem;
    box-sizing: border-box;
    outline: none;
    border: 1px solid black;
    padding: .5rem;
    font-family: inherit;
    font-size: .85rem;
}

.avatar-upload__input:focus {
    border-width: 1.5px;
}

.avatar-upload__button-container {
    display: flex;
    justify-content: flex-end;
}

.avatar-upload__button {
    margin-top: .8rem;
    background-color: black;
    color: white;
    font-size: .8rem;
    padding: .3rem .6rem;
    font-weight: 700;
    cursor: pointer;
}

.avatar-upload__button:hover {
    color: #f6cb01;
}

/* PersonalHeadphones */

.personal-headphones {
    margin-top: 1.6rem;
}

/* PersonalHeadphones - search */

.personal-headphones__search-box {
    margin-top: 1.8rem;
    position: relative;
    margin-bottom: 1.8rem;
}

.personal-headphones__search-input {
    padding: .4rem 1.2rem .3rem .3rem;
    width: 100%;
    font-size: .85rem;
    font-weight: 700;
    background: none;
    border: 1.5px solid transparent;
    border-bottom: 1.5px solid black;
    outline: none;
    box-sizing: border-box;
}

.personal-headphones__search-input::placeholder {
    font-weight: 400;
}

.personal-headphones__search-input--active {
    border-color: black;
}

.personal-headphones__search-icon {
    position: absolute;
    right: .4rem;
    top: .6rem;
    font-size: .7rem;
}

.personal-headphones__search-input:hover, .personal-headphones__search-input:focus {
    border-color: black;
}

.personal-headphones__search-matches {
    padding: .5rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1.5px solid black;
    border-top: none;
    box-sizing: border-box;
}

.personal-headphones__search-input:not(.personal-headphones__search-input--active)~.personal-headphones__search-matches {
    display: none;
}


.personal-headphones__no-match {
    margin: .15rem 0;
    padding: .2rem .4rem;
    text-align: center;
    font-size: .85rem;
    letter-spacing: .02em;
}

.personal-headphones__search-match {
    margin: .15rem 0;
    padding: .2rem .4rem;
    text-align: center;
    font-size: .85rem;
    font-weight: 700;
    text-decoration: underline;
    letter-spacing: .02em;
    cursor: pointer;
}

.personal-headphones__search-match:hover {
    font-weight: 900;
    background-color: #f6cb01;
}

/* PersonalHeadphones - rate headphones*/

.personal-headphones__tagged-headphones {
    margin-top: 1.6rem;
}

.personal-headphones__tagged-headphone {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
}

.personal-headphones__tagged-headphones>div.personal-headphones__tagged-headphone:nth-last-of-type(1) {
    margin-bottom: .4rem;
}

.personal-headphones__headphone-name {
    font-weight: 700;
    font-size: .85rem;
    border-right: 4px solid transparent;
    cursor: pointer;
    padding: .3rem;
    letter-spacing: .04rem;
}

.tagged-headphone--not-owner .personal-headphones__headphone-name:hover {
    border-right: 4px solid black;
    background-color: #f6cb01;
    font-weight: 900;
}

.personal-headphones__icons {
    margin-top: .1rem;
    align-self: flex-end;
    font-size: .8rem;
    padding: 0 .3rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.personal-headphones__heart {
    margin: 0 .13rem;
}

.personal-headphones__tagged-headphone:not(.tagged-headphone--not-owner) .personal-headphones__heart {
    cursor: pointer;
    font-size: .9rem;
}

.personal-headphones__tagged-headphone:not(.tagged-headphone--not-owner) .personal-headphones__heart:hover {
    color: #c00603;
    transform-origin: 50% 50%;
    transform: scale(1.4);
}

.personal-headphones__close-icon {
    margin-left: .8rem;
    font-size: .8rem;
    cursor: pointer;
}

.personal-headphones__close-icon:hover {
    color: #c00603;
    transform-origin: 50% 50%;
    transform: scale(1.5);
}