.check-auth {
    position: fixed;
    z-index: 10;
    width: 3.5rem;
    bottom: 3.5rem;
    left: 0;
    padding: 0 .3rem;
    word-break: break-all;
    font-size: .75rem;
    font-weight: 700;
    text-align: center;
    color: black;
    box-sizing: border-box;
}

/* Tablet */

@media only screen and (max-width: 767px) {
    .check-auth {
        width: calc(100vw - 3.5rem);
        height: 2rem;
        top: 3.5rem;
        left: 0;
        margin-left: .1rem;
        text-align: left;
    }
    .navigation-bar:hover~.check-auth {
        display: none;
    }
}