.post-delete {
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #112f41;
}

.post-delete__box {
    flex-basis: 20%;
    height: 20%;
    padding: 1.5rem 1.5rem 1rem 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 4px solid #112f41;
    text-align: justify;
    box-sizing: border-box;
    background-color: rgb(250, 250, 250);
}

.post-delete__message {
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: .05em;
}

.post-delete__buttons {
    display: flex;
    justify-content: flex-end;
}

.post-delete__buttons div {
    padding: .3rem .4rem;
    cursor: pointer;
    font-size: .9rem;
    font-weight: 900;
}

.post-delete__buttons div:nth-of-type(2) {
    margin-left: .8rem;
}

.post-delete__buttons div:hover {
    background-color: #bf4035;
    color: white;
}

.post-delete__buttons div:nth-of-type(2):hover {
    background: #e89b0d;
    color: white;
}