$colors: (darkest : #112f41, dark:#1c3359, mid: #a5362e, light:#c9463d, lightest: #e3e3e3);
$yellow: #f9b73c;
$light-white: lighten(map-get($colors, lightest), 8%);
$darker-white: darken(map-get($colors, lightest), 10%);
/* Search bar */

.tag-system__search-bar {
    padding: 1rem 2rem;
    position: relative;
    background-color: map-get($colors, darkest);
    color: white;
}

.tag-system__search-input {
    width: 100%;
    padding: .15rem 0;
    font-size: .95rem;
    font-weight: 700;
    background: none;
    color: white;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    box-sizing: border-box;
}

.tag-system__search-input::placeholder {
    color: white;
}

.tag-system__search-icon {
    position: absolute;
    right: 2rem;
    top: 1.3rem;
    font-size: .7rem;
}

.tag-system__search-bar:hover .tag-system__search-input,
.tag-system__search-input:focus {
    border-color: $yellow;
    color: $yellow;
}

.tag-system__search-bar:hover .tag-system__search-icon,
.tag-system__search-input:focus~.tag-system__search-icon,
.tag-system__search-bar:hover .tag-system__search-input::placeholder,
.tag-system__search-input:focus::placeholder {
    color: $yellow;
}

/* Search match */

.tag-system__search-matches {
    padding: .5rem .5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-bottom: 2px solid map-get($colors, darkest);
    background-color: $light-white;
}

.tag-system__search-match {
    margin: .2em;
    padding: .2em .4em;
    text-align: center;
    font-size: .8rem;
    font-weight: 700;
    text-decoration: underline;
    text-underline-position: under;
    letter-spacing: .02em;
    cursor: pointer;
}

.tag-system__search-match:hover {
    font-weight: 900;
    background-color: $yellow;
}

/* Tag line */

.tag-system__tag-lines {
    width: calc(100% - 1px);
    margin: auto;
    background-color: $light-white;
    box-sizing: border-box;
}

.tag-system__tag-line {
    padding: 1.1rem .8rem;
    padding-top: calc(1.1rem - 4px);
    border-top: 4px solid $light-white;
    box-sizing: border-box;
    cursor: pointer;
}

.tag-system__tag-line.tag-line--active {
    font-weight: 900;
    background-color: $yellow;
    border-top: 4px solid $yellow;
    box-sizing: border-box;
    cursor: auto;
}

.tag-system__tag-line:not(.tag-line--active):hover {
    border-top: 4px solid map-get($colors, mid);
}

.tag-system__tag-line:not(.tag-line--active):hover>div>.tag-system__tagged-headphone {
    font-weight: 900;
}

.tag-system__tag-line>div {
    width: 100%;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: minmax(auto, 30%) auto max-content;
    grid-template-areas: "tagged-headphone tags close-icon" ". tags .";
    grid-column-gap: .2rem;
}

.tag-system__tagged-headphone {
    grid-area: tagged-headphone;
    font-size: .9rem;
}

.tag-system__tag-line-removal-icon {
    grid-area: close-icon;
    padding-top: .15rem;
    justify-self: end;
    transform-origin: 50% 0;
    cursor: pointer;
}

.tag-system__tag-line-removal-icon:hover {
    transform: scale(1.3);
}

.tag-system__tags {
    grid-area: tags;
    justify-self: start;
    align-self: start;
    margin-top: -.2rem;
    display: flex;
    flex-wrap: wrap;
}

.tag-system__tag {
    margin: .15rem;
    padding: .2rem .6em;
    position: relative;
    font-size: .75rem;
    letter-spacing: .02em;
    border: 1px solid map-get($colors, darkest);
    background-color: white;
}

.tag-system__tag-removal-icon {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-align: center;
    background-color: rgba(255, 255, 255, .7);
    cursor: pointer;
}

.tag-system__tag-removal-icon i {
    font-size: 1.1rem;
    line-height: 1.4rem;
}

.tag-system__tag:hover>.tag-system__tag-removal-icon {
    z-index: 1;
}

/* Tag criteria */

.tag-system__criterias {
    padding: 1.1rem .5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: map-get($colors, darkest);
    font-size: .8rem;
}

.tag-system__criteria {
    padding: 0 .4rem;
    letter-spacing: .03rem;
    line-height: 1.5rem;
    color: white;
    cursor: pointer;
}

.tag-system__criteria:hover,
.tag-system__criteria.criteria--active {
    text-underline-position: under;
    text-decoration: underline;
    font-weight: 900;
    background-color: $yellow;
    color: map-get($colors, darkest);
}

/* Selectable tags */

.tag-system__selectable-tags {
    width: 100%;
    margin: auto;
    padding: 1.1rem .5rem;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    font-size: .8rem;
    background-color: $darker-white;
    box-sizing: border-box;
}

.tag-system__selectable-tags:after {
    content: '';
    margin-left: -15px;
    margin-top: -11px;
    position: absolute;
    top: 0;
    left: 50%;
    border: 15px solid transparent;
    border-bottom-color: darken(map-get($colors, lightest), 10%);
    border-top: 0;
}

.tag-system__selectable-tag {
    margin: .2em;
    padding: 0 .6em;
    line-height: 1.1rem;
    letter-spacing: .02rem;
    font-weight: 700;
    background-color: $light-white;
    border: 2px solid $light-white;
    cursor: pointer;
}

.tag-system__selectable-tag:hover {
    border-color: map-get($colors, darkest);
}