/* NavigationBar */
.blacksmith ~ .navigation-bar {
  bottom: -4px; }

/* LiveChat */
.blacksmith .live-chat {
  width: 11%;
  border-width: 3px;
  background-color: #e3e3e3; }

/* Blacksmith */
.blacksmith {
  width: calc(100% - 11% - 3px);
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr max-content 1fr minmax(auto, 4rem) 1fr max-content;
  grid-template-columns: 3.5rem 1fr;
  grid-template-areas: ". . " ". videos" ". . " "youtube-button page-title" ". . " ". featured-video";
  justify-items: center;
  color: #112f41; }

.blacksmith__youtube-button {
  grid-area: youtube-button;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  z-index: 1;
  font-size: 3rem;
  text-align: center;
  background-color: #1c3359;
  cursor: pointer; }

.blacksmith__youtube-button i {
  transform: scale(1.2, 0.7);
  color: white; }

.blacksmith__youtube-button:hover {
  background-color: #cc3a2f; }

.blacksmith__page-title {
  grid-area: 4 / 1 /span 1 / -1;
  width: 100%;
  padding: .95rem 0 .95rem 3.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 1.45rem;
  font-weight: 900;
  letter-spacing: .8rem;
  text-indent: .8rem;
  border-top: 3px solid #112f41;
  border-bottom: 3px solid #112f41;
  background-color: rgba(255, 255, 255, 0.7);
  color: #c9463d;
  box-sizing: border-box; }

.blacksmith__vertical-line {
  position: fixed;
  width: 3.5rem;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  border-right: 3px solid #112f41;
  box-sizing: border-box; }

/* Video */
.blacksmith__videos {
  grid-area: videos;
  width: 100%;
  height: 100%;
  padding: 0 8vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  box-sizing: border-box; }

.blacksmith .video {
  width: 10rem;
  padding: .3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: .7;
  text-align: center;
  border: 1px solid #112f41;
  background-color: white;
  box-shadow: 3px 3px #112f41;
  cursor: pointer; }

.blacksmith .video:hover {
  opacity: 1; }

.video__title {
  height: 2.9em;
  margin: 0 0 .3rem 0;
  padding: .3em 1em;
  overflow: hidden;
  font-size: .7rem;
  line-height: 1.2em;
  text-transform: uppercase;
  letter-spacing: .02rem;
  border: 1px solid #112f41;
  box-sizing: border-box; }

.video__thumbnail {
  width: 100%;
  height: 5.5rem;
  object-fit: cover;
  filter: grayscale(60%);
  box-sizing: border-box; }

/* FeaturedVideo */
.blacksmith .featured-video {
  grid-area: featured-video;
  width: 700px;
  margin: 0 0 .7rem 0;
  text-align: center; }

.featured-video__title {
  margin: 0 0 2px 0;
  padding: .6rem 1rem;
  text-transform: uppercase;
  font-size: .85rem;
  letter-spacing: .05rem;
  background-color: #1c3359;
  color: white; }

.featured-video__player {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.5%; }

.featured-video__player iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border: none; }

/* Normal Laptops */
@media screen and (max-width: 1280px) {
  .blacksmith .live-chat {
    width: 12%; }

  .blacksmith {
    width: calc(100% - 12% - 3px); } }
/* Small Laptops */
@media screen and (max-width: 1024px) {
  .blacksmith .live-chat {
    width: 17%; }

  .blacksmith {
    width: calc(100% - 17% - 3px); }

  .blacksmith__videos {
    padding: 0; }

  .blacksmith .video {
    width: 22%; }

  .blacksmith .featured-video {
    width: 100%; } }
/* Tablet */
@media only screen and (max-width: 767px) {
  .blacksmith .live-chat {
    grid-area: live-chat;
    width: 18rem;
    justify-self: center;
    background-color: #fafafa;
    box-sizing: border-box; }

  .blacksmith {
    width: 100vw;
    height: auto;
    margin-top: 3rem;
    grid-template-rows: 0.6rem max-content 0.6rem minmax(auto, 3.5rem) 5vh max-content auto;
    grid-template-columns: 3rem 1fr;
    grid-template-areas: ". . " ". videos" ". . " "youtube-button page-title" ". . " ". featured-video" ". live-chat"; }

  .blacksmith__page-title {
    padding: .95rem 0 .95rem 3rem;
    font-size: 1.2rem; }

  .blacksmith__vertical-line {
    width: 3rem; }

  .blacksmith__videos {
    justify-self: center;
    width: calc(100vw - 5rem);
    justify-content: flex-start;
    overflow: auto; }

  .blacksmith__videos::-webkit-scrollbar {
    display: none; }

  .blacksmith .video {
    width: 11rem;
    flex-shrink: 0;
    transform: scale(0.9);
    border: none;
    background: none;
    box-shadow: none; }

  .video__title {
    height: 2.8em; }

  .video__thumbnail {
    border: 1px solid #112f41; }

  .blacksmith .featured-video {
    border-bottom: 2px solid #112f41; }

  .featured-video__title {
    margin-bottom: 0; } }
/* Phones */
@media only screen and (max-width: 481px) {
  .blacksmith .live-chat {
    width: 300px; }

  .blacksmith {
    grid-template-rows: 1.5rem max-content 1.5rem minmax(auto, 3.5rem) 2.5rem max-content auto;
    grid-template-columns: 1fr;
    grid-template-areas: " . " " videos" " . " " page-title" " . " " featured-video" " live-chat"; }

  .blacksmith__youtube-button {
    display: none; }

  .blacksmith__page-title {
    padding: 0; }

  .blacksmith__vertical-line {
    display: none; }

  .blacksmith__videos {
    width: calc(100vw - 2rem); } }

/*# sourceMappingURL=Blacksmith.css.map */
