html {
    font-size: 16px;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
}
body {
    margin: 0;

}

body::-webkit-scrollbar {
    width: 8px;
    background-color: white;
}


body::-webkit-scrollbar-thumb {
    background-color:#3d3d3d;
}

* {
    box-sizing: content-box;
}
/* Normal Laptops */

@media screen and (max-width: 1280px) {
    html {
        font-size: 15.5px;
    }
}

/* Small Laptops */

@media screen and (max-width: 1024px) {
    html {
        font-size: 16px;
    }
}

/* Tablet */

@media only screen and (max-width: 767px) {
    html {
        font-size: 16px;
    }
}


@media only screen and (max-width: 581px) {
    html {
        font-size: 17px;
    }
}


/* Phones */

@media only screen and (max-width: 481px) {
    html {
        font-size: 17px;
    }
}
