.global-message {
    position: fixed;
    z-index: 8;
    top: 3rem;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}

.global-message__message {
    display: inline-block;
    width: auto;
    max-width: 30vw;
    padding: .7rem 2rem;
    text-align: center;
    background-color: white;
    border: 2px solid black;
    box-shadow: 4px 4px black;
    animation: slide-in 15s ease-in-out both;
}

.arena~.global-message, .forum~.global-message {
    width: 100%;
    margin-left: 0;
}

.post-show~.global-message {
    width: 89%;
    margin-left: -3px;
}

.post-create~.global-message, .post-edit~.global-message, .dashboard~.global-message {
    width: calc(89% - 3.5rem);
    margin-left: 3.5rem;
}

@keyframes slide-in {
    0%, 100% {
        transform: translateY(-20rem);
    }
    8% {
        transform: translateY(0);
    }
    92% {
        transform: translateY(0);
    }
}

@media screen and (max-width: 1280px) {
    .forum~.global-message {
        width: calc(100% - 3.5rem - 12%);
        margin-left: calc(3.5rem - 1.5px);
    }
    .post-show~.global-message {
        width: 88%;
        margin-left: 0;
    }
    .post-create~.global-message, .post-edit~.global-message, .dashboard~.global-message {
        width: calc(88% - 3.5rem);
    }
}

@media screen and (max-width: 1024px) {
    .forum~.global-message {
        width: calc(100% - 3.5rem - 17%);
        margin-left: calc(3.5rem + 1.5px);
    }
    .post-show~.global-message {
        width: 83%;
    }
    .post-create~.global-message, .post-edit~.global-message, .dashboard~.global-message {
        width: calc(83% - 3.5rem);
    }
}

@media screen and (max-width: 767px) {
    .arena~.global-message {
        width: 75%;
        margin-left: calc(25% - 1.5rem);
    }
    .forum~.global-message {
        width: calc(100% - 3rem);
        margin-left: calc(3rem + 3px);
    }
    .post-show~.global-message {
        width: 100%;
    }
    .post-create~.global-message, .post-edit~.global-message {
        width: calc(100% - 3rem);
        margin-left: 3rem;
    }
    .dashboard~.global-message {
        width: 100%;
        margin-left: 0;
    }
}

@media screen and (max-width: 481px) {
    .arena~.global-message {
        width: 77%;
        margin-left: 23%;
    }
}