.navigation-bar {
    font-family: 'Roboto', sans-serif;
    height: 3.7rem;
    position: fixed;
    bottom: -2px;
    z-index: 10;
    display: flex;
    align-items: flex-start;
    font-size: .7rem;
    font-weight: 900;
    overflow: hidden;
}

.navigation-bar-icon {
    position: relative;
    margin-right: 1.5rem;
    cursor: pointer;
}

.navigation-bar--active {
    z-index: 10;
    order: -1;
}

.navigation-bar-icon, .navigation-bar-icon img, .navigation-bar-icon .navigation-bar--page-name {
    height: 3.5rem;
    width: 3.5rem;
    line-height: 3.5rem;
}

.navigation-bar--inactive {
    z-index: 5;
    transform: translateX(-23vw);
    transition: transform .7s;
}

.navigation-bar:hover .navigation-bar--inactive {
    transform: translateX(0);
    box-shadow: 2px 2px #c00603;
}

.navigation-bar:hover .navigation-bar--active {
    box-shadow: 2px 2px #c00603;
}

.navigation-bar--page-name {
    position: absolute;
    top: 0;
    transition: opacity .2s ease-in, transform .4s ease-in;
    opacity: 0;
    text-align: center;
    background-color: rgba(192, 6, 3, .8);
    box-sizing: border-box;
    color: white;
}

.navigation-bar-icon:hover .navigation-bar--page-name {
    opacity: 1;
}


/* Tablet */

@media only screen and (max-width: 767px) {
    .arena~.navigation-bar, 
    .forum~.navigation-bar,
    .post-show~.navigation-bar {
        height: calc(3.5rem + 4px);
        width: 100%;
        top: 0;
        left: 0;
        justify-content: space-between;
        background-color: black;
        border: 2px solid black;
        box-sizing: border-box;
    }
    .arena~.navigation-bar:hover, 
    .forum~.navigation-bar:hover, 
    .post-show~.navigation-bar:hover {
        border-color: #c00603;
    }
    .arena~.navigation-bar .navigation-bar-icon,
    .forum~.navigation-bar .navigation-bar-icon, 
    .post-show~.navigation-bar .navigation-bar-icon {
        margin-right: 3.5rem;
        box-shadow: none;
    }
    .arena~.navigation-bar .navigation-bar--inactive,
    .forum~.navigation-bar .navigation-bar--inactive, 
    .post-show~.navigation-bar .navigation-bar--inactive {
        transform: translateX(-100vw);
        transition: transform 1.4s;
    }
    .arena~.navigation-bar:hover .navigation-bar--inactive,
    .forum~.navigation-bar:hover .navigation-bar--inactive, 
    .post-show~.navigation-bar:hover .navigation-bar--inactive {
        transform: translateX(0);
    }
    .arena~.navigation-bar .navigation-bar-icon:hover .navigation-bar--page-name,
    .forum~.navigation-bar .navigation-bar-icon:hover .navigation-bar--page-name,
    .post-show~.navigation-bar .navigation-bar-icon:hover .navigation-bar--page-name {
        transform: translateX(3.5rem);
    }
}

/* Phones */

@media only screen and (max-width: 481px) {
    .arena~.navigation-bar .navigation-bar-icon,
    .forum~.navigation-bar .navigation-bar-icon,
    .post-show~.navigation-bar .navigation-bar-icon {
        margin-right: 0;
    }
    .arena~.navigation-bar .navigation-bar-icon:hover .navigation-bar--page-name,
    .forum~.navigation-bar .navigation-bar-icon:hover .navigation-bar--page-name,
    .post-show~.navigation-bar .navigation-bar-icon:hover .navigation-bar--page-name {
        transform: translateX(0);
    }
}