.navigation-bar {
    font-family: 'Roboto', sans-serif;
    height: 3.7rem;
    position: fixed;
    z-index: 10;
    display: flex;
    align-items: flex-start;
    font-size: .7rem;
    font-weight: 900;
    overflow: hidden;
}

.navigation-bar-icon {
    position: relative;
    margin-right: 1.5rem;
    cursor: pointer;
}

.navigation-bar--active {
    z-index: 10;
    order: -1;
}

.navigation-bar-icon, .navigation-bar-icon img, .navigation-bar-icon .navigation-bar--page-name {
    height: 3.5rem;
    width: 3.5rem;
    line-height: 3.5rem;
}

.navigation-bar--inactive {
    z-index: 5;
    transform: translateX(-100vw);
    transition: transform 1.1s;
}

.navigation-bar:hover .navigation-bar--inactive {
    transform: translateX(0);
    box-shadow: 2px 2px #c00603;
}

.navigation-bar:hover .navigation-bar--active {
    box-shadow: 2px 2px #c00603;
}

.navigation-bar--page-name {
    position: absolute;
    top: 0;
    transition: opacity .2s ease-in, transform .4s ease-in;
    opacity: 0;
    text-align: center;
    background-color: rgba(192, 6, 3, .8);
    box-sizing: border-box;
    color: white;
}

.navigation-bar-icon:hover .navigation-bar--page-name {
    opacity: 1;
}